BasedOnStyle: Mozilla

AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
BreakBeforeBraces: Allman
ColumnLimit: 120
InsertNewlineAtEOF: true
LambdaBodyIndentation: OuterScope
