BasedOnStyle: Mozilla

AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
BreakBeforeBraces: Allman
ColumnLimit: 120
FixNamespaceComments: true
InsertNewlineAtEOF: true
LambdaBodyIndentation: OuterScope
